<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <header>
        <div class="wrp">
            <a href="./index.html" class="logo">
                <img src="../images/Group.svg" alt="">
            </a>
         <nav>
             <a href="./index.html">Home</a>
             <a href="./menu.html">Menu</a>
             <a href="./bus.html">Bus</a>
             <a href="./uniform.html">Uniform</a>
             <a href="./about.html">About us</a>
             <a href="./contactus.html">Contact us</a>
         </nav>
         <a class="menuButton" >
             <img src="../css/icon/Frame 4.svg" alt=""></a>
        </div>
    </header>
    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
    </div>
    <section class="menuabout">
        <div class="wrp">
            <div class="colleft">
                <div class="header"><h3 class="menuname">About us</h3></div>
                <div class="items ">
                    <div class="level1 ">
                        <a href="../about.html" class="top ">
                           Our history
                        </a>
                    </div>
                </div>
                <div class="items active">
                    <div class="level1">
                        <a href="../about1.html" class="top active">
                            Mission and Vision  
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="level1">
                        <a href="" class="top">
                            Privacy policy
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="level1">
                        <a href="" class="top">
                            Terms and conditions
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="level1">
                        <a href="" class="top">
                            Legal
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="level1">
                        <a href="" class="top">
                            Cookies
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="level1">
                        <a href="" class="top">
                            Account
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="wrp">
            <button class="showmenu">
                View menu
            </button>
            <div class="colleft">
                <div class="header"><h3 class="menuname">About us</h3></div>
                <div class="items ">
                    <div class="level1 ">
                        <a href="../about.html" class="top ">
                           Our history
                        </a>
                    </div>
                </div>
                <div class="items active">
                    <div class="level1">
                        <a href="" class="top active">
                            Mission and Vision
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="level1">
                        <a href="" class="top">
                            Privacy policy
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="level1">
                        <a href="" class="top">
                            Terms and conditions
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="level1">
                        <a href="" class="top">
                            Legal
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="level1">
                        <a href="" class="top">
                            Cookies
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="level1">
                        <a href="" class="top">
                            Account
                        </a>
                    </div>
                </div>
            </div>
            <div class="colright">
                <div class="wrp2">
                    <h2 class="heading">Mission and Vision</h2>
                    <img src="../images/about1.svg" alt="">
                    <div class="eshistory">

                        <div class="para">
                            <strong>Vision</strong>
                            <p>
                                Reigate Grammar School Vietnam aspires to nurture, empower and connect students with their local and global communities, to become international citizens who are active, compassionate and lifelong learners.   
                            </p>
                            <strong>Mission</strong>
                            <p>
                                At Reigate Grammar School Vietnam we value community and connection; the relationships we have with one another are central to our happiness and success at School and beyond. Our mission is to care for and support each individual's potential to become well-rounded, life-long learners with a strong sense of purpose based on their core values.
                            </p>
                            <p>
                                We empower and inspire our pupils by providing a challenging and diverse curriculum inside and outside the classroom that enables them to develop skills as reflective, brave, caring and principled learners.
                            </p>
                            <p>
                                We encourage our internationally-minded children to be inquisitive, collaborative and innovative by providing an inclusive and supportive environment.
                            </p>
                            <p>
                                We prepare our Reigatians to use their unique talents and abilities to make this world a better place by providing opportunities to give back to our community.
                            </p>
                           
                            
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="wrp">
            <div class="col">
                <a href="">
                    <img src="../images/Group.svg" alt="">
                </a>
                <div class="column">
                    <div class="row">
                        <strong>Address: </strong>1901 Thornridge Cir. Shiloh, Hawaii 81063
                    </div>
                    <div class="row">
                        <strong>Phone number: </strong>(208) 555-0112
                    </div>  
                    <div class="row">
                        <strong>Email: </strong>support@esv.edu.vn
                    </div>  
                    <div class="row">
                        <strong>Website: </strong>www.esv.edu.vn
                    </div>
                    <div class="rowsocial">
                        <strong>Social network: </strong>
                            <a href="" class="facebook"></a>
                            <a href="" class="instagram"></a>
                            <a href="" class="youtube"></a>
                            <a href="" class="tiktok"></a>

                    </div>    
                </div>      
            </div>
            <div class="col">
                <div class="heading">
                    Customer Services
                </div>
                <div class="column">
                <div class="row">
                   <a href="" class="name">About us</a>
                </div>
                <div class="row">
                   <a href="" class="name">Community Blog</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Rewards</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Work with Us</a>
                </div>    
                </div>      
            </div>
            <div class="col">
                <div class="heading">
                    Customer Services
                </div>
                <div class="column">
                <div class="row">
                   <a href="" class="name">About us</a>
                </div>
                <div class="row">
                   <a href="" class="name">Community Blog</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Rewards</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Work with Us</a>
                </div>    
                </div>      
            </div>
            <div class="col">
                <div class="heading">
                    Customer Services
                </div>
                <div class="column">
                <div class="row">
                   <a href="" class="name">About us</a>
                </div>
                <div class="row">
                   <a href="" class="name">Community Blog</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Rewards</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Work with Us</a>
                </div>    
                </div>      
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="wrp">
            <div class="cpr">
                © 2022 weex.vn. All rights reserved.
            </div>
            <nav>
                <a href="">
                    Privacy Policy 
                </a>
                <a href="">
                    Terms & Conditions 
                </a>
                <a href="">
                    Cookies 
                </a>
            </nav>
            <div class="bottom-bar">
                <img src="../css/icon/bottom-bar.svg" alt="">
            </div>
        </div>
    </div>
    <script src="../js/index.js"></script>
    <script src="../js/about.js "></script>
</body>
</html>