<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus</title>
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/bus.css">
</head>
<body>
    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
    </div>
    <header>
        <div class="wrp">
            <a href="./index.html" class="logo">
                <img src="../images/Group.svg" alt="">
            </a>
         <nav>
             <a href="./index.html">Home</a>
             <a href="./menu.html">Menu</a>
             <a href="./bus.html">Bus</a>
             <a href="./uniform.html">Uniform</a>
             <a href="./about.html">About us</a>
             <a href="./contactus.html">Contact us</a>
         </nav>
         <a class="menuButton" >
             <img src="../css/icon/Frame 4.svg" alt=""></a>
        </div>
    </header>
    <section class="homepage">
        <div class="item">
            <img src="../images/bus.svg" alt="">
        </div>
    </section>
   <section class="esbus">
        <div class="wrp">
            <div class="header">
                <h1 class="heading">Bus Schedule</h1>
                This festive season, for every Christmas Lunch Sandwich, Festive Falafel & Squash Sandwich and Hog Roast Mac & Cheese sold 50p will be donated to The Pret Foundation to help them tackle hunger, poverty and homelessness in the UK.
            </div>
            <div class="businfor">
                <div class="inforhead">
                    <div class="col1">Bus info</div>
                    <div class="col2">Schedule</div>
                </div>
                <div class="seribus">
                    <div class="busitem">
                        <img src="../images/image-bus.png" alt="">
                        <div class="row">
                            <div class="det">
                                <img src="../css/icon/directions_bus.svg" alt="">
                                <strong>Bus Number 01</strong>
                            </div>
                            <div class="det1">
                                <span>License plates:</span>30H - 567.89
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        Dong Anh - Tan Xuan - Pham Van Dong - Xuan Thuy - <br>
                        Cau Giay - Đe La Thanh - Nguyen Chi Thanh - Thai Ha - <br>
                        Chua Boc - Pham Ngoc Thach - Giai Phong - The School
                    </div>
                </div>
                <div class="seribus">
                    <div class="busitem">
                        <img src="../images/image-bus.png" alt="">
                        <div class="row">
                            <div class="det">
                                <img src="../css/icon/directions_bus.svg" alt="">
                                <strong>Bus Number 01</strong>
                            </div>
                            <div class="det1">
                                <span>License plates:</span>30H - 567.89
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        Dong Anh - Tan Xuan - Pham Van Dong - Xuan Thuy - <br>
                        Cau Giay - Đe La Thanh - Nguyen Chi Thanh - Thai Ha - <br>
                        Chua Boc - Pham Ngoc Thach - Giai Phong - The School
                    </div>
                </div> <div class="seribus">
                    <div class="busitem">
                        <img src="../images/image-bus.png" alt="">
                        <div class="row">
                            <div class="det">
                                <img src="../css/icon/directions_bus.svg" alt="">
                                <strong>Bus Number 01</strong>
                            </div>
                            <div class="det1">
                                <span>License plates:</span>30H - 567.89
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        Dong Anh - Tan Xuan - Pham Van Dong - Xuan Thuy - <br>
                        Cau Giay - Đe La Thanh - Nguyen Chi Thanh - Thai Ha - <br>
                        Chua Boc - Pham Ngoc Thach - Giai Phong - The School
                    </div>
                </div> <div class="seribus">
                    <div class="busitem">
                        <img src="../images/image-bus.png" alt="">
                        <div class="row">
                            <div class="det">
                                <img src="../css/icon/directions_bus.svg" alt="">
                                <strong>Bus Number 01</strong>
                            </div>
                            <div class="det1">
                                <span>License plates:</span>30H - 567.89
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        Dong Anh - Tan Xuan - Pham Van Dong - Xuan Thuy - <br>
                        Cau Giay - Đe La Thanh - Nguyen Chi Thanh - Thai Ha - <br>
                        Chua Boc - Pham Ngoc Thach - Giai Phong - The School
                    </div>
                </div> <div class="seribus">
                    <div class="busitem">
                        <img src="../images/image-bus.png" alt="">
                        <div class="row">
                            <div class="det">
                                <img src="../css/icon/directions_bus.svg" alt="">
                                <strong>Bus Number 01</strong>
                            </div>
                            <div class="det1">
                                <span>License plates:</span>30H - 567.89
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        Dong Anh - Tan Xuan - Pham Van Dong - Xuan Thuy - <br>
                        Cau Giay - Đe La Thanh - Nguyen Chi Thanh - Thai Ha - <br>
                        Chua Boc - Pham Ngoc Thach - Giai Phong - The School
                    </div>
                </div> <div class="seribus">
                    <div class="busitem">
                        <img src="../images/image-bus.png" alt="">
                        <div class="row">
                            <div class="det">
                                <img src="../css/icon/directions_bus.svg" alt="">
                                <strong>Bus Number 01</strong>
                            </div>
                            <div class="det1">
                                <span>License plates:</span>30H - 567.89
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        Dong Anh - Tan Xuan - Pham Van Dong - Xuan Thuy - <br>
                        Cau Giay - Đe La Thanh - Nguyen Chi Thanh - Thai Ha - <br>
                        Chua Boc - Pham Ngoc Thach - Giai Phong - The School
                    </div>
                </div> <div class="seribus">
                    <div class="busitem">
                        <img src="../images/image-bus.png" alt="">
                        <div class="row">
                            <div class="det">
                                <img src="../css/icon/directions_bus.svg" alt="">
                                <strong>Bus Number 01</strong>
                            </div>
                            <div class="det1">
                                <span>License plates:</span>30H - 567.89
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        Dong Anh - Tan Xuan - Pham Van Dong - Xuan Thuy - <br>
                        Cau Giay - Đe La Thanh - Nguyen Chi Thanh - Thai Ha - <br>
                        Chua Boc - Pham Ngoc Thach - Giai Phong - The School
                    </div>
                </div> <div class="seribus">
                    <div class="busitem">
                        <img src="../images/image-bus.png" alt="">
                        <div class="row">
                            <div class="det">
                                <img src="../css/icon/directions_bus.svg" alt="">
                                <strong>Bus Number 01</strong>
                            </div>
                            <div class="det1">
                                <span>License plates:</span>30H - 567.89
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        Dong Anh - Tan Xuan - Pham Van Dong - Xuan Thuy - <br>
                        Cau Giay - Đe La Thanh - Nguyen Chi Thanh - Thai Ha - <br>
                        Chua Boc - Pham Ngoc Thach - Giai Phong - The School
                    </div>
                </div> <div class="seribus">
                    <div class="busitem">
                        <img src="../images/image-bus.png" alt="">
                        <div class="row">
                            <div class="det">
                                <img src="../css/icon/directions_bus.svg" alt="">
                                <strong>Bus Number 01</strong>
                            </div>
                            <div class="det1">
                                <span>License plates:</span>30H - 567.89
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        Dong Anh - Tan Xuan - Pham Van Dong - Xuan Thuy - <br>
                        Cau Giay - Đe La Thanh - Nguyen Chi Thanh - Thai Ha - <br>
                        Chua Boc - Pham Ngoc Thach - Giai Phong - The School
                    </div>
                </div>
            </div>
        </div>
   </section>
    <footer>
        <div class="wrp">
            <div class="col">
                <a href="">
                    <img src="../images/Group.svg" alt="">
                </a>
                <div class="column">
                    <div class="row">
                        <strong>Address: </strong>1901 Thornridge Cir. Shiloh, Hawaii 81063
                    </div>
                    <div class="row">
                        <strong>Phone number: </strong>(208) 555-0112
                    </div>  
                    <div class="row">
                        <strong>Email: </strong>support@esv.edu.vn
                    </div>  
                    <div class="row">
                        <strong>Website: </strong>www.esv.edu.vn
                    </div>
                    <div class="rowsocial">
                        <strong>Social network: </strong>
                            <a href="" class="facebook"></a>
                            <a href="" class="instagram"></a>
                            <a href="" class="youtube"></a>
                            <a href="" class="tiktok"></a>

                    </div>    
                </div>      
            </div>
            <div class="col">
                <div class="heading">
                    Customer Services
                </div>
                <div class="column">
                <div class="row">
                   <a href="" class="name">About us</a>
                </div>
                <div class="row">
                   <a href="" class="name">Community Blog</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Rewards</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Work with Us</a>
                </div>    
                </div>      
            </div>
            <div class="col">
                <div class="heading">
                    Customer Services
                </div>
                <div class="column">
                <div class="row">
                   <a href="" class="name">About us</a>
                </div>
                <div class="row">
                   <a href="" class="name">Community Blog</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Rewards</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Work with Us</a>
                </div>    
                </div>      
            </div>
            <div class="col">
                <div class="heading">
                    Customer Services
                </div>
                <div class="column">
                <div class="row">
                   <a href="" class="name">About us</a>
                </div>
                <div class="row">
                   <a href="" class="name">Community Blog</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Rewards</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Work with Us</a>
                </div>    
                </div>      
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="wrp">
            <div class="cpr">
                © 2022 weex.vn. All rights reserved.
            </div>
            <nav>
                <a href="">
                    Privacy Policy 
                </a>
                <a href="">
                    Terms & Conditions 
                </a>
                <a href="">
                    Cookies 
                </a>
            </nav>
            <div class="bottom-bar">
                <img src="../css/icon/bottom-bar.svg" alt="">
            </div>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>
</html>