<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/index.css">
   
</head>
<body>
    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
    </div>
    <header>
        <div class="wrp">
            <a href="./index.html" class="logo">
                <img src="../images/Group.svg" alt="">
            </a>
         <nav>
             <a href="./index.html">Home</a>
             <a href="./menu.html">Menu</a>
             <a href="./bus.html">Bus</a>
             <a href="./uniform.html">Uniform</a>
             <a href="./about.html">About us</a>
             <a href="./contactus.html">Contact us</a>
         </nav>
         <a class="menuButton" >
             <img src="../css/icon/Frame 4.svg" alt=""></a>
        </div>
     </header>
    <section class="homepage">
        <div class="item">
            <img src="../images/Slice 1.svg" alt="">
            <div class="infor">
                <div class="heading">
                Generous Helpings
                </div>
                <div class="row">
                    This festive season, for every Christmas Lunch Sandwich, Festive Falafel & Squash Sandwich and Hog Roast Mac & Cheese sold 50p will be donated to The Pret Foundation to help them tackle hunger, poverty and homelessness in the UK.
                </div>
                <a href="">
                Find out more
                </a>
            </div>
        </div>
    </section>
    <section class="aboutus">
        <div class="wrp">
            <div class="aboutvn">
                <div class="heading">
                    About
                    ESVIETNAM
                </div>
                <div class="row">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </div>
                <a href="">
                    View more
                </a>
            </div>
            <img src="../images/Rectangle 9.png" alt="">
        </div>
    </section>
    <section class="howdo">
        <div class="wrp">
            <div class="heading">
                How do you ESVIETNAM
            </div>
            <div class="groupitem">
                <div class="item">
                    <img src="../css/icon/ship.png" alt="">
                    <h1>Order ESVIETNAM straight to your door</h1>
                    <div class="row">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>
                <div class="item">
                    <img src="../css/icon/location.png" alt="">
                    <h1>Eat in at your nearest ESVIETNAM</h1>
                    <div class="row">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                </div>
                <div class="item">
                    <img src="../css/icon/ship.png" alt="">
                    <h1>Order Pret straight to your door</h1>
                    <div class="row">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="aboutus role">
        <div class="wrp">
            <div class="aboutvn">
                <div class="heading">
                    About
                    ESVIETNAM
                </div>
                <div class="row">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </div>
                <a href="">
                    View more
                </a>
            </div>
            <img src="../images/Rectangle 7.svg" alt="">
        </div>
    </section>
    <section class="aboutus">
        <div class="wrp">
            <div class="aboutvn">
                <div class="heading">
                    About
                    ESVIETNAM
                </div>
                <div class="row">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </div>
                <a href="">
                    View more
                </a>
            </div>
            <img src="../images/Rectangle 8.svg" alt="">
        </div>
    </section>
    <section class="aboutus2">
        <div class="wrp">
            <img src="../images/Rectangle 10.svg" alt="">
            <div class="aboutvn">
                <div class="heading">
                    ESVIETNAM <br>Joy at Home
                </div>
                <div class="row">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.                </div>
                <a href="">
                    Shop now
                </a>
            </div>
        </div>
    </section>
    <section class="menu">
        <div class="wrp">
            <div class="heading">
                Our Food and Drink menu
            </div>
            <div class="groupitem">
                <div class="item">
                    <a href="./listproduct.html">
                        <img src="../images/coffee.png" alt="">
                        <h3 class="menuname">Hot drink</h3 class="menuname">
                    </a>
                </div>
                <div class="item">
                    <a href="./listproduct.html">
                        <img src="../images/hamberger.png" alt="">
                        <h3 class="menuname">Breakfast</h3 class="menuname">
                    </a>
                </div>  
                <div class="item">
                    <a href="./listproduct.html">
                        <img src="../images/sanwich.svg" alt="">
                        <h3 class="menuname">Sandwiches & Wraps</h3 class="menuname">
                    </a>
                </div>
                <div class="item">
                    <a href="./listproduct.html">
                        <img src="../images/salad.svg" alt="">
                        <h3 class="menuname" >Salads & Protein Pots</h3>
                    </a>  
                </div>
                <div class="item">
                    <a href="./listproduct.html">
                        <img src="../images/hot dog.svg" alt="">
                        <h3 class="menuname">Hot Food</h3 >
                    </a> 
                </div>
                <div class="item">
                    <a href="./listproduct.html">
                        <img src="../images/snack.svg" alt="">
                        <h3 class="menuname">Sweet & Savoury snacks</h3 >
                    </a>            
                </div>
                <div class="item">
                    <a href="./listproduct.html">
                        <img src="../images/orange.svg" alt="">
                        <h3 class="menuname">Fruit & Fruit pots</h3 >
                    </a>
                </div>
                <div class="item">
                    <a href="./listproduct.html">
                        <img src="../images/coca.svg" alt="">
                        <h3 class="menuname">Cold Drinks</h3 >
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="wrp">
            <div class="col">
                <a href="">
                    <img src="../images/Group.svg" alt="">
                </a>
                <div class="column">
                    <div class="row">
                        <strong>Address: </strong>1901 Thornridge Cir. Shiloh, Hawaii 81063
                    </div>
                    <div class="row">
                        <strong>Phone number: </strong>(208) 555-0112
                    </div>  
                    <div class="row">
                        <strong>Email: </strong>support@esv.edu.vn
                    </div>  
                    <div class="row">
                        <strong>Website: </strong>www.esv.edu.vn
                    </div>
                    <div class="rowsocial">
                        <strong>Social network: </strong>
                            <a href="" class="facebook"></a>
                            <a href="" class="instagram"></a>
                            <a href="" class="youtube"></a>
                            <a href="" class="tiktok"></a>

                    </div>    
                </div>      
            </div>
            <div class="col">
                <div class="heading">
                    Customer Services
                </div>
                <div class="column">
                <div class="row">
                   <a href="" class="name">About us</a>
                </div>
                <div class="row">
                   <a href="" class="name">Community Blog</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Rewards</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Work with Us</a>
                </div>    
                </div>      
            </div>
            <div class="col">
                <div class="heading">
                    Customer Services
                </div>
                <div class="column">
                <div class="row">
                   <a href="" class="name">About us</a>
                </div>
                <div class="row">
                   <a href="" class="name">Community Blog</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Rewards</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Work with Us</a>
                </div>    
                </div>      
            </div>
            <div class="col">
                <div class="heading">
                    Customer Services
                </div>
                <div class="column">
                <div class="row">
                   <a href="" class="name">About us</a>
                </div>
                <div class="row">
                   <a href="" class="name">Community Blog</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Rewards</a>
                </div>  
                <div class="row">
                    <a href="" class="name">Work with Us</a>
                </div>    
                </div>      
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="wrp">
            <div class="cpr">
                © 2022 weex.vn. All rights reserved.
            </div>
            <nav>
                <a href="">
                    Privacy Policy 
                </a>
                <a href="">
                    Terms & Conditions 
                </a>
                <a href="">
                    Cookies 
                </a>
            </nav>
            <div class="bottom-bar">
                <img src="../css/icon/bottom-bar.svg" alt="">
            </div>
        </div>
    </div>
    <script src="../js/index.js"></script>
    <script src="../js/connectnodejs.js"></script>
</body>
</html>